@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");

html {
  min-height: 100%;
  background: linear-gradient(
      0deg,
      rgba(192, 192, 190, 0.3),
      rgba(253, 253, 253, 0.438)
    ),
    url(../images/bg_medium.jpeg);
  background-size: cover;
  background-origin: border-box;
  background-position-y: center;
  background-repeat: no-repeat;
}

body {
  padding: 0;
  margin: 0;
  /* background: #FFF; */
  background: transparent;

  font-family: "Open Sans", sans-serif;
  /* overflow: hidden; */
}

header {
  background: rgba(46, 64, 95, 0.2);
}

body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  text-decoration: none;
}

body a:hover {
  text-decoration: none;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

body a:focus,
a:hover {
  text-decoration: none;
}

input[type="button"],
input[type="submit"] {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

input[type="button"]:hover,
input[type="submit"]:hover {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.right-section {
  text-align: justify;
  padding: 2em 3em;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.3em;
}

.right-section h2 {
  font-size: 4.2rem;
  color: #1a1244;
  font-weight: 600;
  margin-top: 0.5em;
}

.right-section span {
  color: #ffa04e;
}

.left-section {
  background: rgba(46, 64, 95, 0.8);
  position: absolute;
  top: 25.5%;
  left: 70.8%;
  transform: translate(-31%, -25%);
  /* margin-right: 1em; */
  /* margin-top: -1.8em; */
  z-index: 9999;
  height: 99%;
  padding: 20px;
  box-shadow: #848484;
}

.left-section h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.04em;
  color: #fff;
  text-align: center;
  margin-top: -5px;
}

.left-section p {
  font-family: "Montserrat", sans-serif;
  color: #cfcaca;
  text-align: center;
  padding-bottom: 1.5em;
}
input[type="text"],
input[type="email"] {
  width: 100%;
  background: transparent;
  padding: 1em;
  margin-bottom: 0.4em;
  height: 80%;
  border: 1px solid #788298;
  color: #d1d4d9;
}

input[type="submit"] {
  margin-top: 6px;
  width: 100%;
  background: transparent;
  color: #d1d4d9;
  border: 1px solid #788298;
  margin-bottom: 0.4em;
}

input[type="submit"]:hover {
  background: #ffa04e;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.1em;
}

::placeholder {
  color: #d1d4d9;
}

::value {
  color: #d1d4d9;
}

textarea {
  width: 100%;
  background: transparent;
  padding: 1em;
  border: 1px solid #788298;
}

@media only screen and (max-width: 600px) {
  html {
    /* min-height: 100%; */
    height: 205%;
    background: linear-gradient(
        0deg,
        rgba(192, 192, 190, 0.3),
        rgba(253, 253, 253, 0.438)
      ),
      url(../images/bg_medium.jpeg);
    background-size: cover;
    background-origin: border-box;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .right-section {
    padding-left: 4em;
  }

  .right-section h2 {
    font-size: 2.1em;
    color: #1a1244;
    font-weight: 600;
    margin-top: 0.5em;
  }

  .left-section h2 {
    font-size: 1.4em;
  }

  .left-section {
    transform: translate(-70%, 38%);
    height: 130%;
    font-size: 0.7em;
  }

  textarea {
    height: 60%;
    margin-bottom: -3em;
  }
}
